.MainToolbar {
  color: #d2cece;
  background-color: #404040;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  width: 100%;
}

.MainToolbar-slider {
  display: inline-block;
  width: 80px;
  margin-left: 12px;
}