.ToolbarButton {
  height: auto;
  /*color: #c1c1c1;*/
  padding: 6px;
  /*width: 50%; <-- set by the toolbar*/
  border: 1px solid transparent;
}

.ToolbarButton:hover {
  color: white;
  cursor: pointer;
  background-color: #ffffff36;
  border-radius: 4px;
}

.ToolbarButton-selected, .ToolbarButton-selected:hover {
  border: 1px solid #7b0303;
  border-radius: 4px;
  box-shadow: 0px 2px 0px 0px #7b0303;
  background-color: #bf0b50;
}

.ToolbarButton img {
  width: 100%;
  height: auto;
  display: block;
}